# Copyright (c) 2022 SAULX
# SPDX-License-Identifier: MIT
[*]
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{c,h}]
indent_brace_style = K&R
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
curly_bracket_next_line = true
spaces_around_operators = true
