name: CI

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: '22.21.1'
  DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK }}

jobs:
  ci_build_test:
    name: Autotest
    runs-on: ubuntu-latest
    environment: 'BasedDB CI-CD'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Build Builder Image
        run: docker build -t based-db-clibs-build-linux_aarch64 -f podman/Containerfile .

      - name: Run Build
        run: |
          docker run --rm -v "${{ github.workspace }}:/usr/src/based-db" based-db-clibs-build-linux_aarch64

          sudo chown -R $USER:$USER .

          echo "Installing ZVM..."
          curl -L https://raw.githubusercontent.com/tristanisham/zvm/master/install.sh | bash

          export ZVM_INSTALL="$HOME/.zvm"
          export PATH="$PATH:$ZVM_INSTALL/bin:$ZVM_INSTALL/self"

          echo "Installing Zig..."
          zvm i 0.15.2
          zvm use 0.15.2

          sudo apt-get update && sudo apt-get install -y patchelf

          npm ci

          if [[ "$OSTYPE" == "linux-gnu"* ]]; then
            echo "Running Linux Locale Build..."
            npm run build-locale
          fi
          for pkg in hash utils schema protocol; do
            npm run build -w "@based/$pkg"
          done

          cd packages/db
          npm run build-zig linux-aarch64

          npx tsc

      - name: Run Test Command (npm run test)
        run: |
          cd packages/db
          npm run test-fast

      - name: Send Discord Notification
        uses: tsickert/discord-webhook@v7.0.0
        if: always()
        with:
          webhook-url: ${{ env.DISCORD_WEBHOOK_URL }}
          username: GitHub
          avatar-url: 'https://cdn.discordapp.com/avatars/999680196040982618/df91181b3f1cf0ef1592fbe18e0962d7.webp'
          embed-author-name: ${{ github.actor }}
          embed-author-url: ${{ github.server_url }}/${{ github.actor }}
          embed-author-icon-url: ${{ github.actor_id }}
          embed-title: "${{ job.status == 'success' && '✅ SUCCESS: CI/CD Passed' || '❌ FAILURE: CI/CD Failed' }}"
          embed-description: '${{ github.ref }}, commit: ${{ github.sha }}'
